exportPattern("^[[:alpha:]]+")

#useDynLib(selvarlik)
export(selvarlik)
importFrom(Rcpp, evalCpp)
importFrom(Rmixmod, mixmodCluster, mixmodGaussianModel)
importFrom(parallel, mclapply, detectCores)
#importFrom(mclust, Mclust, mclustBIC, mclust.options)
